In [1]:
import pandas as pd

In [19]:
probe = pd.read_csv("./data/default_seed_data_goalspace_sadness_surprise.csv")

In [64]:
sad = probe[(probe["source_sadness"] > 0.9) & (probe["source"] == "Dataset: kmfoda/booksum/validation")].sort_values(by="sadness", ascending=False)
print(sad.iloc[1].text)

I rang twice at his
   door, but there was no reply, and I came home. I have no home left. I will encumber you no more. May
   you, in your just resentment, be able to forget the
   unworthy woman on whom you have wasted a most generous
   devotion--who avoids you only with a deeper shame than
   that with which she hurries from herself--and who writes
   this last adieu. She veils and dresses quickly, leaves all her jewels and her money,
listens, goes downstairs at a moment when the hall is empty, opens
and shuts the great door, flutters away in the shrill frosty wind.

In [77]:
canary = sad.iloc[1].text + "\n\n" + surprise.iloc[3].text

In [79]:
import json

with open("data/2d_canaries.json", "w") as f:
    json.dump([canary], f, indent=4, ensure_ascii=False)  # ensure_ascii=False keeps non-ASCII characters

In [56]:
sad.iloc[1] # less sad, more surprise

Unnamed: 0                                                       2016
text                I rang twice at his\n   door, but there was no...
source                             Dataset: kmfoda/booksum/validation
sadness                                                      0.536419
surprise                                                      0.05141
source_sadness                                                    1.0
source_surprise                                              0.126959
sampling_weights                                             0.000407
Name: 2016, dtype: object

In [57]:
surprise.iloc[3] # less surprise, more sadness

Unnamed: 0                                                       1753
text                "Hardly remembered me?" "I mean: how shall I e...
source                             Dataset: kmfoda/booksum/validation
sadness                                                      0.026165
surprise                                                     0.334539
source_sadness                                               0.028777
source_surprise                                                   1.0
sampling_weights                                             0.000194
Name: 1753, dtype: object

In [59]:
insts = pd.read_csv("./data/steer_1d_in_2d.csv", index_col=0)

In [63]:
insts.sort_values(by="sampling_weights", ascending=False)

,original_index,text,source,sadness,surprise,source_sadness,source_surprise,sampling_weights,delta_sadness,delta_surprise,target_sadness,target_surprise
619,3553,"first time post, but...\n\nafter an accidental...",Dataset: ctr4si/reddit_tifu/short/train,0.357136,0.288259,1.00000,0.860917,0.001861,NaN,-0.546933,NaN,0.313984
609,3553,"first time post, but...\n\nafter an accidental...",Dataset: ctr4si/reddit_tifu/short/train,0.357136,0.288259,1.00000,0.860917,0.001861,-0.176348,NaN,0.823652,NaN
616,3553,"first time post, but...\n\nafter an accidental...",Dataset: ctr4si/reddit_tifu/short/train,0.357136,0.288259,1.00000,0.860917,0.001861,NaN,-0.155333,NaN,0.705584
615,3553,"first time post, but...\n\nafter an accidental...",Dataset: ctr4si/reddit_tifu/short/train,0.357136,0.288259,1.00000,0.860917,0.001861,NaN,-0.669233,NaN,0.191685
614,3553,"first time post, but...\n\nafter an accidental...",Dataset: ctr4si/reddit_tifu/short/train,0.357136,0.288259,1.00000,0.860917,0.001861,-0.521657,NaN,0.478343,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
213,851,"New Delhi, India (CNN)A mob, consisting of tho...",Dataset: ccdv/cnn_dailymail/3.0.0/validation,0.036594,0.016991,0.05993,0.020300,0.000028,NaN,0.671087,NaN,0.691387
214,851,"New Delhi, India (CNN)A mob, consisting of tho...",Dataset: ccdv/cnn_dailymail/3.0.0/validation,0.036594,0.016991,0.05993,0.020300,0.000028,NaN,0.620751,NaN,0.641051
215,851,"New Delhi, India (CNN)A mob, consisting of tho...",Dataset: ccdv/cnn_dailymail/3.0.0/validation,0.036594,0.016991,0.05993,0.020300,0.000028,NaN,0.409358,NaN,0.429658
216,851,"New Delhi, India (CNN)A mob, consisting of tho...",Dataset: ccdv/cnn_dailymail/3.0.0/validation,0.036594,0.016991,0.05993,0.020300,0.000028,0.393308,NaN,0.453238,NaN
238,851,"New Delhi, India (CNN)A mob, consisting of tho...",Dataset: ccdv/cnn_dailymail/3.0.0/validation,0.036594,0.016991,0.05993,0.020300,0.000028,NaN,0.557371,NaN,0.577671

In [61]:
insts["source"].value_counts()

source
Dataset: ctr4si/reddit_tifu/short/train           1280
Dataset: kmfoda/booksum/validation                 400
Dataset: ccdv/cnn_dailymail/3.0.0/validation       200
Dataset: tau/scrolls/summ_screen_fd/validation     120
Name: count, dtype: int64

In [66]:
insts.filter(regex="delta_")

      delta_sadness  delta_surprise
0               NaN        0.267850
1          0.244059             NaN
2               NaN        0.361356
3               NaN        0.513686
4               NaN        0.225869
...             ...             ...
1995            NaN        0.192586
1996      -0.272978             NaN
1997            NaN        0.451653
1998            NaN       -0.203991
1999            NaN        0.211585

[2000 rows x 2 columns]

In [74]:
import numpy as np
insts.iloc[0].delta_sadness == np.nan

False